{{#each this}}
  <li class='img-list--item'>
    <article class='card'>
      <a href='{{largeImageURL}}'>
        <div class='card--img-wrapper'>
          <img
            src='{{webformatURL}}'
            alt='{{tags}}'
            class='card--img'
            loading='lazy'
            width='400'
          />
        </div>
      </a>
      <div class='card--info'>
        <p class='card--info-item'>
          <b>Likes</b>
          {{likes}}
        </p>
        <p class='card--info-item'>
          <b>Views</b>
          {{views}}
        </p>
        <p class='card--info-item'>
          <b>Comments</b>
          {{comments}}
        </p>
        <p class='card--info-item'>
          <b>Downloads</b>
          {{downloads}}
        </p>
      </div>
    </article>
  </li>
{{/each}}